<%= javascript_pack_tag "App" %>
  <!-- Putting data into data attr of a div, then parse data as JSON, then pass to APP which we can use to pass to the other components -->
  <%= content_tag :div, 
    id: 'store_data',
    data: {products: @products} do %>
    <% end %>

      <div id="store"></div>
      <!-- <%= form_tag charges_path, class: "payment-form" do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p>
                <%= flash[:error] %>
              </p>
            </div>
            <% end %>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Pack of 5 stickers" data-amount="500" data-locale="auto" data-label="Buy Now"></script>
        <% end %> -->